name: Rust

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install GLFW + OpenGL deps
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          pkg-config \
          xorg-dev \
          libglfw3-dev \
          libglfw3 \
          libgl1-mesa-dev

        
    - name: Build
      run: cargo build --verbose
    
