name: Rust

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-22.04   # force known Ubuntu

    steps:
    - uses: actions/checkout@v4

    - name: Install GLFW dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y software-properties-common
        sudo add-apt-repository universe
        sudo apt-get update
        sudo apt-get install -y \
          pkg-config \
          libglfw3-dev \
          libgl1-mesa-dev \
          xorg-dev

        
    - name: Build
      run: cargo build --verbose
    
