name: Rust

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install GLFW dependencies
      run: sudo apt-get update && sudo apt-get install -y \
        libglfw3 \
        libglfw3-dev \
        libxinerama-dev \
        libxi-dev \
        libxcursor-dev \
        libxrandr-dev \
        libxext-dev \
        xorg-dev
        
    - name: Build
      run: cargo build --verbose
    
